<div class="col-md-12">
  <div class="card">
      <div class="header">
          <h4 class="title">Sous ma responsabilité</h4>
          <p class="category">Premier semester</p>
      </div>
      <div class="content">
              <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Code UE</th>
                          <th scope="col">Non UE</th>
                          <th scope="col">Semestre</th>
                          <th scope="col">Verrou</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Licence IN100</th>
                          <td>Fondements de l'Informatique I</td>
                          <td>L1 S2</td>
                          <td><span class="label label-primary">ON</span>
                          </td>
                        </tr>
                        <tr>
                              <th scope="row">Licence IN101</th>
                              <td>Fondements de l'Informatique II</td>
                              <td>L2 S2</td>
                              <td><span class="label label-warning">OFF</span>
                              </td>
                            </tr>
                      </tbody>
                    </table>
          <div class="footer">
              
          </div>
      </div>
  </div>
</div>